.ppr {
  padding:40px;
  width:750px;
  margin-bottom:100px;
  border: solid #ebebeb 1px;
}
.paragraph {
  font-size:30pt;
}

@media only screen and (min-width: 1000px) {
  .ppr {
    width:800px;
  }
  .paragraph {
    font-size:18pt;
  }
}
