.container {
  display: flex;
  max-width: 100%;
  width: 100vw;
  height: 2vh;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 50px;
  height: 30px;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.2);
}

.btn {
  width: 30px;
  height: 30px;
}

.copyright {
  text-align: center;
  margin: 25px 0 25px 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .icon {
    height: 30px;
    width: 65px;
  }
}