.home-container {
  display: flex;
  width: 890px;
  height:238vh;
  text-align: center;
  /* border: 2px solid black; */
}
.home-container h1 {
  font-size: 50pt;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .home-container {
    display: flex;
    width: 890px;
    height:116vh;
    text-align: center;
    /* border: 2px solid black; */
  }
}
@media only screen and (min-width: 1000px) {
  .home-container {
    /* text-align: center; */
    width: 99vw;
    height: 100vh;
    font-size: 20pt;
    /* border: 2px solid black; */
  }
  .home-container h1 {
    font-size: 40pt;
  }
}
