.root  {
  flexGrow: 1; 
  width:  600px;  
} 
.acc  {
  boxShadow:  2px 4px 7px rgba(0, 0, 0, 0.15);
}
.dt  {
  font-size: 22pt;
  margin-left:  5px;  
  margin-top:  -30px;  
  paddingTop:  8px;
} 
.accDetails  {
  margin-left:  5px;  
  margin-top:  -35px;  
} 
.tech  {
  font-size: 22pt;
  margin-top: -15px; 
  margin-left: 15px; 
}
.techUsed {
  font-size: 22pt;
}
@media only screen and (min-width: 1000px) {
  .dt  {
    font-size: 16pt;
    margin-left:  5px;  
    margin-top:  -30px;  
    paddingTop:  8px;
  } 
  .accDetails  {
    margin-left:  5px;  
    margin-top:  -35px;  
  } 
  .tech  {
    font-size: 16pt;
    margin-top:  -15px; 
    margin-left:  15px; 
  }
  .techUsed {
    font-size: 16pt;
  }
}