.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
}
.title {
  width: 85vw;
  font-size: 20pt;
  letter-spacing: 1px;
  text-align: left;
  margin: auto;
  padding: 10px;
  line-height: 30px;
}

@media screen and (min-width:768px) {
  .title {
    max-width: 80vw;
  }
}

@media screen and (min-width:1024px) {
  .container {
    min-height:500px; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .title {
    width: 73vw;
  }
}

